* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: auto;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1 {
  color: #5267aa;
  font-weight: 300;
  margin-bottom: 4rem;
  font-size: 3rem;
}

.content {
  padding: 1.5rem;
}

.content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content form input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  padding: 5px;
  width: 20rem;
  color: #757575;
}

.content form button {
  border: none;
  font-family: inherit;
  background-color: #6981af;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s;
}

.content form button:hover {
  background-color: #53678b;
}

.content form button:disabled {
  cursor: default;
  background-color: #757575;
}

.valid-response {
  border: 2.5px solid rgba(0, 0, 0, 0.3);
  border-style: dashed;
  padding: 2rem;
  margin-top: 2rem;
  color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
}

.valid-response ul {
  list-style-type: none;
}
.valid-response ul li {
  margin: 1.2rem 0;
}

.valid-response ul li span:first-child {
  color: rgb(112, 112, 112);
  font-weight: 300;
}

.valid-response_sub-ul {
  margin-left: 1rem;
}

.valid-response .valid-response_sub-ul li {
  margin: 5px 0px 5px 1rem;
  font-size: 1.4rem;
}

.invalid-response {
  display: flex;
  border: 2.5px solid rgba(206, 31, 19, 0.877);
  border-style: dashed;
  padding: 2rem;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  color: rgb(112, 112, 112);
}

.invalid-response h2 {
  color: rgb(131, 15, 15);
  margin-bottom: 1rem;
  font-weight: 300;
}

.invalid-response span:first-child {
  color: rgb(58, 58, 58);
}
